.header-div {
  background: #333;
  padding: 45px 70px;
}

.nav-btn {
  color: #eee;
  font-size: 23px;
  font-family: sans-serif;
  font-weight: 500;
  margin-right: 70px;
}

.input-dark {
  background: #333;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  padding-left: 70px;
  width: 240px;
}

.nav-btn:hover {
  color: #fff;
}

.no-text-decoration {
  text-decoration: none;
}
